

html{
  width:100%;
}
body {
  font-family: "Arial", sans-serif; /* Or any desired font */
  font-weight: bold;  /* Makes the text bold */
  font-style: italic; /* Makes the text italic */
  width:50%; 
}
 html.body{
   height: 100%; /* Ensure the body takes up the full height of the viewport */
  margin: 0; /* Remove default margin */
  display: block;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color:  #964B00;
 }

.styled-form{
  padding: 20px;
  background-color: #964B00;;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%; /* Adjust width as needed */
}

label {
  display: block; /* Ensure label is on its own line */
  margin-bottom: 5px; /* Space between label and input */
  color: #bda685;
}

input,textarea,select{
  background-color:#d2b48c; /* Light brown color */
  
padding: 10px;
  font-size: 1em;
  border: 1px solid #5f3b35; /* Border color */
  border-radius: 4px;
  /*width: 100%; /* Make input fill the available width */
  font-family: "arial", sans-serif; /* Or any desired font */
  font-weight: bold;  /* Makes the text bold */
  font-style: italic; /* Makes the text italic */

}

textarea,button,select{
 border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
}
button{
  background-color:#6f473e;
  margin:20px 30px 50px 70px;
  width: 100px; /* Set a fixed width */
  height: 50px;

}
textarea{
  height:100px;
  width:200px;
}




